@model IEnumerable<QTSDataManager.DB.Genre>

@{
    ViewBag.Title = "AddGenre";
}

<h2>AddGenre</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Add", "AddGenreToMusicGroup", new { genreId = item.Id, musicGroupId = ViewBag.MusicGroupId }, new { @class = "btn btn-success btn-xs" })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-default" })