<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Database" name="database">
      <commandText>
        INSERT INTO Logs (Message, Level, Logger) VALUES (@msg, @level, @logger)
      </commandText>

      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />

      <connectionString>
        Data Source=52.90.184.131;Initial Catalog=qtslog;Persist Security Info=True;User ID=qts;Password=1r1d1um
      </connectionString>
    </target>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="database" />
    <logger name="*" level="Debug" writeTo="database" />
    <logger name="*" level="Error" writeTo="database" />
    <logger name="*" level="Fatal" writeTo="database" />
  </rules>

</nlog>